<nav class="nav-extended red">
    <div class="container">
        <div class="nav-wrapper">
            <a class="brand-logo center" href="#">Эш-рейтинг</a>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a {{ if eq .Button 1 }}class="active"{{end}} href="/">Рейтинг</a></li>
                <li class="tab"><a {{ if eq .Button 2 }}class="active"{{end}} href="/matches">Матчи</a></li>
            </ul>
        </div>
    </div>
</nav>