{{template "partials/header" .}}
<table class="striped">
  <tr>
    <th>Игрок 1</th>
    <th>Игрок 2</th>
    <th>Дата</th>
  </tr>

  {{ range .Matches }}
  <tr>
    <td>
      {{ if eq .PlayerA .Winner }}<b>{{ end }}{{ .PlayerA.Name }}{{ if eq .PlayerA .Winner }}</b>{{ end }}
    </td>

    <td>
      {{ if eq .PlayerB .Winner }}<b>{{ end }}{{ .PlayerB.Name }}{{ if eq .PlayerB .Winner }}</b>{{ end }}
    </td>
    <td>
      {{ FormatDate .Date }}
    </td>
  </tr>
  {{ end }}
</table>
{{template "partials/footer" .}}