{{template "partials/header" .}}
<div id="main">
  <div class="header">
    <h1>Список игр</h1>
    <h2>За всё время</h2>
  </div>

  <div class="content">
    <table class="pure-table pure-table-striped pure-table-horizontal">
      <thead>
        <tr>
          <th>Игрок 1</th>
          <th>Игрок 2</th>
          <th>Дата</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Data.Matches }}
        <tr>
          <td>
            {{ if eq .PlayerA .Winner }}<b>{{ end }}<a href="/api/players/{{ .PlayerA.ID }}">{{ .PlayerA.Name }}</a>
            <span class="{{ if gt .PlayerA.RatingChange 0 }} green-text {{end}}{{ if lt .PlayerA.RatingChange 0 }} red-text text-accent-4 {{end}}">{{ .PlayerA.RatingChange }}</span>
            {{ if eq .PlayerA .Winner }}</b>{{ end }}
          </td>

          <td>
            {{ if eq .PlayerB .Winner }}<b>{{ end }}<a href="/api/players/{{ .PlayerB.ID }}">{{ .PlayerB.Name }}</a>
            <span class="{{ if gt .PlayerB.RatingChange 0 }} green-text {{end}}{{ if lt .PlayerB.RatingChange 0 }} red-text text-accent-4 {{end}}">{{ .PlayerB.RatingChange }}</span>
            {{ if eq .PlayerB .Winner }}</b>{{ end }}
          </td>
          <td>
            {{ FormatDate .Date }}
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>
{{template "partials/footer" .}}