<div class="container">

    <form id="signup-form" method="post">
        <input type="text" name="name" id="signup-form-username" placeholder="Username" required autocomplete="off">
        <input type="password" name="password" id="signup-form-password" placeholder="Password" required autocomplete="off"><br>
        <input type="password" name="password-repeat" id="signup-form-password-repeat" placeholder="Repeat password" required autocomplete="off"><br>
        <button class="btn waves-effect waves-light" id="signup-form-submit" type="submit" name="create">Sign Up</button>
        <a id="signup-signin" class="waves-effect waves-teal btn-flat" href={{ .Path.SignIn }}>Sign In</a>
    </form>
</div>